{% extends "layouts/base.html" %}

{% block page_title %}Generate Timetable{% endblock %}

{% block content %}

<div class="nlp-command-bar">
    <input type="text" placeholder="Enter command, e.g. Generate timetable for CS department...">
    <button type="submit" class="btn-submit">Auto Generate</button>
</div>

<div class="separator">OR</div>

<div class="file-dropzone">
    <div class="dropzone-icon">☁️</div>
    <h3>Attach .csv file</h3>
    <p>Class assignments and slots</p>
    <input type="file" hidden>
</div>

<div class="mt-20">
    <a href="{{ url_for('view_generated_timetable') }}" class="btn-submit no-decoration inline-block-center">View Created Timetable</a>
</div>

{% endblock %}
