{% extends "layouts/base.html" %}

{% block page_title %}Generate Timetable{% endblock %}

{% block content %}

<div class="mt-20">
    <button class="btn-submit" id="autogenerateTimetableBtn">Autogenerate Timetable</button>
</div>

<div class="mt-20">
    <a href="{{ url_for('view_generated_timetable') }}" class="btn-submit no-decoration inline-block-center">View Created Timetable</a>
</div>

<div class="mt-20">
    <a href="{{ url_for('manual_timetable_edit') }}" class="btn-submit no-decoration inline-block-center">Manual Timetable Edit</a>
</div>

{% endblock %}
