{% extends "base.html" %}

{% block page_title %}Timetable{% endblock %}

{% block content %}
    
<div class="header-container">
    <div class="teacher-profile-header">
        <div class="teacher-info">
            <h1 class="teacher-name">Timetable</h1>
        </div>
    </div>
    <div class="username-display">
        Welcome, {{ username }}!
    </div>
</div>

<div class="timetable-container">
    <table class="timetable">
        <thead>
            <tr>
                <th class="time-col">Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            {% for hour in range(8, 23) %}
            <tr>
                <td class="time-col">{{ '%02d:00' % hour }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
